*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica";
  src: url("public/asset/fonts/helvetica/Helvetica.ttf") format("woff2"), url("public/asset/fonts/helvetica/Helvetica.ttf") format("woff"), url("public/asset/fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("public/asset/fonts/helvetica/helvetica-light.ttf") format("woff2"), url("public/asset/fonts/helvetica/helvetica-light.ttf") format("woff"), url("public/asset/fonts/helvetica/helvetica-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("public/asset/fonts/helvetica/Helvetica-Bold.ttf") format("woff2"), url("public/asset/fonts/helvetica/Helvetica-Bold.ttf") format("woff"), url("public/asset/fonts/helvetica/Helvetica-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Helvetica", sans-serif;
  width: 1440px;
  height: auto;
}

nav {
  display: flex;
  padding: 25px 136px 0px 136px;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.btn-register {
  width: 81px;
  height: 36px;
  gap: 10px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #5cb85f;
  font-size: 14px;
  font-weight: 700;
}

#main {
  background-color: #f1f3ff;
}

.btn-start {
  width: 140px;
  height: 36px;
  background-color: #5cb85f;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
}

.container-ourServices ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-ourServices ul li {
  margin-bottom: 16px;
}

.container-ourServices ul li img {
  margin-right: 16px;
}

.rounded-whyus {
  width: 268px;
  height: 196px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 24px;
  gap: 16px;
}

.testimonial {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

#testimonialCarousel {
  background-color: #f1f3ff;
}

.testimonial-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.testimonial-author {
  font-weight: bold;
  margin-top: 10px;
  color: black;
}

.testimonial-text p {
  color: black;
  font-size: 16px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
  display: none;
}

.custom-prev-btn {
  margin-right: 20px;
}

.custom-next-btn {
  margin-left: 20px;
}

.accordion-button {
  font-size: 14px;
  font-weight: 300;
}
